
ion-tab-bar {
    --background: #f8f9fa; /* Warna latar belakang tab */
    --color-selected: #007bff; /* Warna teks dan ikon saat dipilih */
    --color: #6c757d; /* Warna teks dan ikon saat tidak dipilih */
  }
  
  ion-tab-button {
    --icon-color-selected: #007bff; /* Warna ikon saat dipilih */
    --icon-color: #6c757d; /* Warna ikon saat tidak dipilih */
  }
  
  ion-tab-button::part(icon) {
    font-size: 24px; /* Ukuran ikon */
  }
  
  ion-tab-button::part(label) {
    font-size: 14px; /* Ukuran teks */
  }
  .custom-tab-bar {
    background: #78A66B !important; /* Warna hijau */
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-tab-bar ion-tab-button {
    color: white !important;
    font-size: 12px;
    background: transparent !important;
  }
  
  .custom-tab-bar ion-icon {
    font-size: 22px;
    color: white !important;
  }
  